@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    background: radial-gradient(circle at 0% 0%, #e0e7ff 0%, #f3f4f6 100%);
    min-height: 100vh;
}